html,
body,
#root {
  height: 100%;
  overscroll-behavior: none;
}

* {
  font-family: "Roboto", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #f76640;
  font-weight: 500;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input {
  color: #838383;
  border: solid 1px #f6f6f6;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  padding: 16px;
}

button {
  background: none;
  border: none;
  color: #838383;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

button > svg {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

table {
  border-spacing: 0;
  width: 100%;
}
