.App {
  background-color: #ffffff;
  height: 100%;
  margin: auto;
  max-width: 1280px;
}

.App-header {
  border-bottom: 1px solid #ffefc4;
  display: flex;
  justify-content: center;
}

.App-logo {
  max-width: 100%;
  width: 100vw;
}
